<div class="absolute blur-[3px]">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>

<style>
  html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #d9e4ff 0%, #ffffff 100%);
    overflow: hidden;
  }

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      286px 744px #598bff,
      260px 841px #598bff,
      901px 825px #598bff,
      998px 655px #598bff,
      977px 1769px #598bff,
      1334px 554px #598bff,
      2px 63px #598bff,
      1331px 7px #598bff,
      18px 809px #598bff,
      923px 1965px #598bff,
      428px 1556px #598bff,
      716px 619px #598bff,
      1671px 1082px #598bff,
      1702px 927px #598bff,
      864px 187px #598bff,
      1439px 1053px #598bff,
      43px 448px #598bff,
      1003px 1963px #598bff,
      1522px 1678px #598bff,
      161px 20px #598bff,
      1483px 797px #598bff,
      1928px 1026px #598bff,
      1021px 739px #598bff,
      1715px 1017px #598bff,
      1771px 1349px #598bff,
      1842px 1429px #598bff,
      1336px 1166px #598bff,
      525px 1553px #598bff,
      249px 188px #598bff,
      1557px 295px #598bff,
      458px 533px #598bff,
      767px 1208px #598bff,
      167px 253px #598bff,
      823px 191px #598bff,
      130px 257px #598bff,
      159px 632px #598bff,
      974px 1144px #598bff,
      1403px 1277px #598bff,
      504px 390px #598bff,
      99px 1155px #598bff,
      644px 799px #598bff,
      624px 798px #598bff,
      1111px 1603px #598bff,
      1882px 1044px #598bff,
      228px 99px #598bff,
      457px 1854px #598bff,
      1745px 58px #598bff,
      771px 1593px #598bff,
      371px 1663px #598bff,
      709px 692px #598bff,
      1891px 1789px #598bff,
      639px 1731px #598bff,
      1891px 1114px #598bff,
      1257px 1379px #598bff,
      573px 846px #598bff,
      171px 959px #598bff,
      89px 1981px #598bff,
      1509px 1089px #598bff,
      912px 88px #598bff,
      222px 380px #598bff,
      1613px 548px #598bff,
      1373px 1645px #598bff,
      181px 364px #598bff,
      1512px 1665px #598bff,
      1744px 73px #598bff,
      1131px 1560px #598bff,
      1717px 256px #598bff,
      528px 1251px #598bff,
      1084px 1361px #598bff,
      206px 1385px #598bff,
      1242px 1766px #598bff,
      1027px 50px #598bff,
      366px 589px #598bff,
      411px 1268px #598bff,
      112px 367px #598bff,
      1441px 1138px #598bff,
      1878px 1134px #598bff,
      554px 213px #598bff,
      1561px 973px #598bff,
      1428px 74px #598bff,
      267px 1458px #598bff,
      646px 1002px #598bff,
      457px 56px #598bff,
      311px 488px #598bff,
      973px 1473px #598bff,
      433px 221px #598bff,
      750px 1336px #598bff,
      185px 910px #598bff,
      1528px 974px #598bff,
      194px 1439px #598bff,
      1377px 841px #598bff,
      894px 1574px #598bff,
      1626px 1945px #598bff,
      242px 730px #598bff,
      1990px 1867px #598bff,
      1830px 672px #598bff,
      1146px 902px #598bff,
      1308px 96px #598bff,
      36px 1546px #598bff,
      911px 1296px #598bff,
      189px 740px #598bff,
      668px 1348px #598bff,
      1621px 154px #598bff,
      1734px 1332px #598bff,
      372px 686px #598bff,
      576px 1630px #598bff,
      742px 504px #598bff,
      1512px 1851px #598bff,
      220px 452px #598bff,
      1242px 1198px #598bff,
      706px 602px #598bff,
      811px 1330px #598bff,
      1322px 1421px #598bff,
      1873px 884px #598bff,
      999px 728px #598bff,
      791px 389px #598bff,
      694px 1071px #598bff,
      754px 1674px #598bff,
      667px 1969px #598bff,
      434px 914px #598bff,
      907px 568px #598bff,
      1463px 1736px #598bff,
      1576px 587px #598bff,
      1028px 1775px #598bff,
      1356px 749px #598bff,
      1290px 1766px #598bff,
      1837px 1708px #598bff,
      1419px 908px #598bff,
      737px 62px #598bff,
      1597px 977px #598bff,
      697px 262px #598bff,
      1859px 253px #598bff,
      877px 88px #598bff,
      342px 670px #598bff,
      594px 974px #598bff,
      730px 571px #598bff,
      1133px 40px #598bff,
      222px 1287px #598bff,
      1737px 1526px #598bff,
      82px 1044px #598bff,
      1097px 1662px #598bff,
      923px 765px #598bff,
      223px 1402px #598bff,
      1464px 309px #598bff,
      671px 694px #598bff,
      1400px 1768px #598bff,
      34px 818px #598bff,
      10px 1566px #598bff,
      344px 104px #598bff,
      1198px 173px #598bff,
      1857px 1178px #598bff,
      905px 882px #598bff,
      208px 551px #598bff,
      44px 204px #598bff,
      483px 702px #598bff,
      1573px 349px #598bff,
      1116px 1123px #598bff,
      332px 1718px #598bff,
      939px 558px #598bff,
      1003px 832px #598bff,
      102px 952px #598bff,
      1930px 523px #598bff,
      178px 339px #598bff,
      1256px 323px #598bff,
      203px 1599px #598bff,
      396px 1404px #598bff,
      826px 1384px #598bff,
      1842px 139px #598bff,
      998px 1288px #598bff,
      62px 1078px #598bff,
      1437px 718px #598bff,
      1429px 1076px #598bff,
      1660px 1414px #598bff,
      61px 349px #598bff,
      888px 1404px #598bff,
      473px 630px #598bff,
      1561px 1977px #598bff,
      1479px 1954px #598bff,
      1969px 675px #598bff,
      4px 1497px #598bff,
      1431px 1286px #598bff,
      696px 811px #598bff,
      323px 1775px #598bff,
      1162px 813px #598bff,
      1420px 4px #598bff,
      290px 600px #598bff,
      146px 493px #598bff,
      1268px 53px #598bff,
      1258px 215px #598bff,
      511px 1468px #598bff,
      1492px 1693px #598bff,
      654px 638px #598bff,
      378px 1574px #598bff,
      94px 1711px #598bff,
      1528px 1994px #598bff,
      1304px 669px #598bff,
      50px 1118px #598bff,
      569px 247px #598bff,
      210px 85px #598bff,
      1925px 1644px #598bff,
      1680px 497px #598bff,
      128px 1077px #598bff,
      1929px 310px #598bff,
      614px 1576px #598bff,
      1780px 755px #598bff,
      914px 1480px #598bff,
      1034px 276px #598bff,
      766px 259px #598bff,
      692px 22px #598bff,
      591px 997px #598bff,
      1426px 1482px #598bff,
      1310px 1427px #598bff,
      1474px 184px #598bff,
      88px 306px #598bff,
      1631px 251px #598bff,
      692px 631px #598bff,
      798px 1973px #598bff,
      1967px 404px #598bff,
      627px 6px #598bff,
      1432px 580px #598bff,
      662px 291px #598bff,
      808px 242px #598bff,
      1456px 1557px #598bff,
      1573px 1264px #598bff,
      334px 832px #598bff,
      1342px 1403px #598bff,
      591px 303px #598bff,
      36px 1612px #598bff,
      1688px 324px #598bff,
      1223px 453px #598bff,
      598px 1504px #598bff,
      1784px 277px #598bff,
      1610px 1436px #598bff,
      1332px 1951px #598bff,
      1236px 1194px #598bff,
      1579px 969px #598bff,
      68px 181px #598bff,
      605px 1480px #598bff,
      175px 1844px #598bff,
      1937px 174px #598bff,
      1558px 195px #598bff,
      411px 580px #598bff,
      232px 1310px #598bff,
      732px 1182px #598bff,
      787px 457px #598bff,
      852px 437px #598bff,
      476px 1628px #598bff,
      1748px 583px #598bff,
      34px 1102px #598bff,
      741px 125px #598bff,
      359px 381px #598bff,
      940px 139px #598bff,
      28px 759px #598bff,
      1962px 348px #598bff,
      1907px 798px #598bff,
      958px 340px #598bff,
      819px 1808px #598bff,
      1965px 1107px #598bff,
      1844px 677px #598bff,
      1765px 498px #598bff,
      1612px 1725px #598bff,
      1343px 47px #598bff,
      1702px 1011px #598bff,
      30px 702px #598bff,
      733px 1232px #598bff,
      1226px 684px #598bff,
      918px 1337px #598bff,
      1258px 133px #598bff,
      939px 1099px #598bff,
      175px 407px #598bff,
      1227px 603px #598bff,
      590px 1561px #598bff,
      1014px 1860px #598bff,
      198px 1731px #598bff,
      827px 1307px #598bff,
      334px 1570px #598bff,
      825px 1335px #598bff,
      312px 313px #598bff,
      1868px 1758px #598bff,
      158px 323px #598bff,
      247px 1714px #598bff,
      509px 356px #598bff,
      1408px 1628px #598bff,
      598px 886px #598bff,
      911px 838px #598bff,
      1578px 345px #598bff,
      677px 871px #598bff,
      1910px 687px #598bff,
      599px 1782px #598bff,
      776px 1800px #598bff,
      456px 1909px #598bff,
      1803px 1969px #598bff,
      1785px 1307px #598bff,
      1384px 1987px #598bff,
      736px 164px #598bff,
      1046px 1392px #598bff,
      1296px 953px #598bff,
      1236px 394px #598bff,
      1656px 1298px #598bff,
      404px 783px #598bff,
      1313px 372px #598bff,
      1753px 1410px #598bff,
      1683px 1663px #598bff,
      82px 754px #598bff,
      1645px 1997px #598bff,
      932px 1889px #598bff,
      1045px 77px #598bff,
      932px 1981px #598bff,
      782px 1335px #598bff,
      21px 372px #598bff,
      1507px 472px #598bff,
      963px 1676px #598bff,
      972px 1177px #598bff,
      1067px 147px #598bff,
      734px 1922px #598bff,
      1199px 675px #598bff,
      1689px 598px #598bff,
      658px 1932px #598bff,
      1458px 803px #598bff,
      1512px 335px #598bff,
      369px 1653px #598bff,
      731px 1253px #598bff,
      1272px 75px #598bff,
      1636px 1425px #598bff,
      677px 1395px #598bff,
      693px 238px #598bff,
      1845px 1121px #598bff,
      1153px 110px #598bff,
      169px 352px #598bff,
      774px 1074px #598bff,
      893px 494px #598bff,
      56px 727px #598bff,
      1433px 28px #598bff,
      185px 1721px #598bff,
      437px 727px #598bff,
      914px 1523px #598bff,
      1646px 287px #598bff,
      1855px 1832px #598bff,
      141px 197px #598bff,
      657px 1926px #598bff,
      713px 162px #598bff,
      975px 914px #598bff,
      1589px 531px #598bff,
      1981px 1220px #598bff,
      521px 767px #598bff,
      675px 473px #598bff,
      1658px 1212px #598bff,
      1213px 1517px #598bff,
      1616px 1655px #598bff,
      1171px 630px #598bff,
      660px 1936px #598bff,
      902px 659px #598bff,
      588px 1421px #598bff,
      1991px 182px #598bff,
      1270px 929px #598bff,
      1608px 679px #598bff,
      988px 791px #598bff,
      662px 1416px #598bff,
      1114px 473px #598bff,
      1031px 1650px #598bff,
      1952px 946px #598bff,
      1219px 1155px #598bff,
      156px 1222px #598bff,
      1568px 82px #598bff,
      1718px 95px #598bff,
      771px 614px #598bff,
      982px 1149px #598bff,
      1096px 384px #598bff,
      819px 253px #598bff,
      235px 1581px #598bff,
      1967px 785px #598bff,
      1074px 840px #598bff,
      1126px 1822px #598bff,
      238px 988px #598bff,
      1215px 1090px #598bff,
      91px 256px #598bff,
      1750px 1159px #598bff,
      939px 606px #598bff,
      827px 293px #598bff,
      651px 833px #598bff,
      491px 928px #598bff,
      553px 1904px #598bff,
      1299px 1899px #598bff,
      1202px 153px #598bff,
      77px 155px #598bff,
      1602px 1622px #598bff,
      1846px 1317px #598bff,
      1489px 25px #598bff,
      1069px 1874px #598bff,
      1991px 337px #598bff,
      206px 1783px #598bff,
      21px 973px #598bff,
      633px 1517px #598bff,
      1428px 1620px #598bff,
      1601px 1484px #598bff,
      1411px 1890px #598bff,
      1097px 355px #598bff,
      1075px 963px #598bff,
      839px 1822px #598bff,
      1279px 1849px #598bff,
      1151px 454px #598bff,
      886px 362px #598bff,
      866px 1764px #598bff,
      65px 1126px #598bff,
      1322px 580px #598bff,
      144px 554px #598bff,
      164px 369px #598bff,
      1251px 1284px #598bff,
      1433px 1066px #598bff,
      703px 777px #598bff,
      843px 1905px #598bff,
      954px 805px #598bff,
      741px 345px #598bff,
      944px 410px #598bff,
      1118px 1800px #598bff,
      1896px 396px #598bff,
      1316px 1288px #598bff,
      859px 746px #598bff,
      1106px 491px #598bff,
      308px 915px #598bff,
      1117px 514px #598bff,
      1710px 1925px #598bff,
      101px 748px #598bff,
      1930px 1260px #598bff,
      171px 1882px #598bff,
      1815px 1795px #598bff,
      1220px 220px #598bff,
      86px 355px #598bff,
      934px 892px #598bff,
      295px 735px #598bff,
      617px 1659px #598bff,
      957px 1917px #598bff,
      322px 1045px #598bff,
      1927px 278px #598bff,
      1138px 427px #598bff,
      128px 1916px #598bff,
      1893px 1047px #598bff,
      1046px 424px #598bff,
      1163px 1081px #598bff,
      161px 437px #598bff,
      751px 357px #598bff,
      350px 609px #598bff,
      1835px 294px #598bff,
      1786px 1617px #598bff,
      1716px 383px #598bff,
      426px 1941px #598bff,
      1965px 1692px #598bff,
      392px 1215px #598bff,
      1794px 1747px #598bff,
      394px 773px #598bff,
      1444px 62px #598bff,
      929px 931px #598bff,
      87px 228px #598bff,
      1497px 1629px #598bff,
      1407px 919px #598bff,
      1002px 1936px #598bff,
      1088px 750px #598bff,
      591px 134px #598bff,
      1049px 257px #598bff,
      945px 1554px #598bff,
      595px 898px #598bff,
      838px 1781px #598bff,
      1448px 680px #598bff,
      1880px 662px #598bff,
      132px 1550px #598bff,
      653px 1398px #598bff,
      1160px 125px #598bff,
      1608px 1796px #598bff,
      1344px 1027px #598bff,
      1457px 1350px #598bff,
      1544px 610px #598bff,
      1031px 636px #598bff,
      154px 1133px #598bff,
      1138px 404px #598bff,
      566px 1364px #598bff,
      1353px 1179px #598bff,
      1951px 985px #598bff,
      412px 1772px #598bff,
      803px 1626px #598bff,
      1618px 1929px #598bff,
      975px 1293px #598bff,
      1801px 933px #598bff,
      1921px 775px #598bff,
      557px 1310px #598bff,
      982px 259px #598bff,
      1828px 577px #598bff,
      1146px 805px #598bff,
      491px 1320px #598bff,
      413px 1009px #598bff,
      111px 1194px #598bff,
      608px 712px #598bff,
      942px 1717px #598bff,
      1797px 1481px #598bff,
      1290px 48px #598bff,
      1124px 1260px #598bff,
      49px 258px #598bff,
      1302px 365px #598bff,
      576px 372px #598bff,
      56px 1525px #598bff,
      526px 1746px #598bff,
      461px 639px #598bff,
      1393px 190px #598bff,
      1136px 1015px #598bff,
      512px 295px #598bff,
      267px 9px #598bff,
      63px 1167px #598bff,
      1660px 346px #598bff,
      1653px 13px #598bff,
      738px 812px #598bff,
      278px 1242px #598bff,
      989px 93px #598bff,
      1664px 1607px #598bff,
      753px 1044px #598bff,
      1524px 1288px #598bff,
      1950px 693px #598bff,
      1254px 348px #598bff,
      1399px 1884px #598bff,
      672px 287px #598bff,
      402px 1959px #598bff,
      642px 1114px #598bff,
      1007px 214px #598bff,
      1284px 70px #598bff,
      616px 1944px #598bff,
      165px 778px #598bff,
      1316px 348px #598bff,
      1747px 1786px #598bff,
      1813px 1958px #598bff,
      1059px 1513px #598bff,
      1807px 892px #598bff,
      1783px 974px #598bff,
      1075px 1132px #598bff,
      1385px 725px #598bff,
      1869px 113px #598bff,
      118px 483px #598bff,
      1445px 1069px #598bff,
      714px 1187px #598bff,
      1719px 193px #598bff,
      1895px 1422px #598bff,
      1726px 281px #598bff,
      1599px 920px #598bff,
      1581px 637px #598bff,
      1328px 1594px #598bff,
      1561px 1589px #598bff,
      477px 270px #598bff,
      227px 752px #598bff,
      1307px 1817px #598bff,
      1126px 486px #598bff,
      631px 617px #598bff,
      497px 1282px #598bff,
      1750px 1684px #598bff,
      1418px 543px #598bff,
      1821px 1858px #598bff,
      454px 890px #598bff,
      1849px 1152px #598bff,
      1801px 1920px #598bff,
      1830px 37px #598bff,
      1773px 593px #598bff,
      304px 1933px #598bff,
      1003px 845px #598bff,
      1596px 112px #598bff,
      1164px 1694px #598bff,
      1645px 905px #598bff,
      534px 775px #598bff,
      41px 791px #598bff,
      991px 524px #598bff,
      274px 1986px #598bff,
      500px 604px #598bff,
      496px 1505px #598bff,
      134px 1168px #598bff,
      1627px 438px #598bff,
      438px 1705px #598bff,
      698px 561px #598bff,
      594px 466px #598bff,
      1699px 1836px #598bff,
      1px 1084px #598bff,
      942px 1054px #598bff,
      1638px 1560px #598bff,
      860px 805px #598bff,
      282px 1699px #598bff,
      1143px 202px #598bff,
      849px 1061px #598bff,
      1362px 1084px #598bff,
      977px 1777px #598bff,
      1021px 626px #598bff,
      208px 1778px #598bff,
      310px 1070px #598bff,
      1759px 1341px #598bff,
      690px 1454px #598bff,
      1407px 1212px #598bff,
      1661px 1154px #598bff,
      980px 235px #598bff,
      181px 1193px #598bff,
      252px 1605px #598bff,
      1231px 1018px #598bff,
      526px 404px #598bff,
      804px 1159px #598bff,
      395px 1205px #598bff,
      1615px 821px #598bff,
      165px 836px #598bff,
      145px 634px #598bff,
      525px 1254px #598bff,
      1782px 1747px #598bff,
      1712px 1752px #598bff,
      1601px 1895px #598bff,
      891px 1380px #598bff,
      973px 1103px #598bff,
      1657px 105px #598bff,
      490px 780px #598bff,
      1611px 222px #598bff,
      1357px 215px #598bff,
      1766px 889px #598bff,
      1501px 1907px #598bff,
      1949px 776px #598bff,
      119px 1623px #598bff,
      1682px 242px #598bff,
      1953px 37px #598bff,
      1994px 1407px #598bff,
      413px 463px #598bff,
      1179px 887px #598bff,
      719px 659px #598bff,
      1459px 1137px #598bff,
      1036px 1492px #598bff,
      1755px 1258px #598bff,
      1686px 660px #598bff,
      1291px 1544px #598bff,
      724px 1827px #598bff,
      252px 1565px #598bff,
      1037px 1161px #598bff,
      1923px 865px #598bff,
      1297px 1645px #598bff,
      259px 258px #598bff,
      296px 1888px #598bff,
      978px 1366px #598bff,
      1598px 1223px #598bff,
      1232px 193px #598bff,
      1497px 984px #598bff,
      1081px 1866px #598bff,
      28px 685px #598bff,
      319px 684px #598bff,
      33px 106px #598bff,
      857px 286px #598bff,
      902px 8px #598bff,
      265px 533px #598bff,
      1596px 1492px #598bff,
      1881px 438px #598bff,
      895px 1514px #598bff,
      129px 43px #598bff,
      117px 1086px #598bff,
      658px 392px #598bff,
      1196px 617px #598bff,
      745px 1688px #598bff,
      1965px 1035px #598bff,
      1305px 592px #598bff,
      923px 1888px #598bff,
      386px 378px #598bff,
      1579px 170px #598bff,
      510px 1043px #598bff,
      300px 1652px #598bff,
      1941px 1843px #598bff,
      1223px 826px #598bff,
      524px 196px #598bff,
      441px 845px #598bff,
      1402px 1276px #598bff,
      1493px 874px #598bff,
      794px 1993px #598bff,
      1446px 1306px #598bff,
      50px 106px #598bff,
      1431px 1459px #598bff,
      916px 1202px #598bff,
      1472px 1263px #598bff,
      885px 1098px #598bff,
      1789px 56px #598bff,
      1373px 1339px #598bff,
      161px 433px #598bff,
      623px 1388px #598bff,
      1916px 360px #598bff,
      825px 490px #598bff,
      1185px 1804px #598bff,
      895px 897px #598bff,
      1702px 1913px #598bff,
      896px 1770px #598bff,
      780px 1195px #598bff,
      1003px 534px #598bff,
      223px 1939px #598bff,
      1274px 1317px #598bff,
      878px 1627px #598bff,
      1782px 864px #598bff,
      1659px 927px #598bff,
      811px 1400px #598bff,
      388px 914px #598bff,
      897px 1689px #598bff,
      241px 1802px #598bff,
      94px 1142px #598bff,
      682px 1361px #598bff,
      922px 1405px #598bff,
      1412px 1926px #598bff,
      678px 1499px #598bff,
      1994px 1901px #598bff,
      1449px 519px #598bff,
      5px 548px #598bff;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      286px 744px #598bff,
      260px 841px #598bff,
      901px 825px #598bff,
      998px 655px #598bff,
      977px 1769px #598bff,
      1334px 554px #598bff,
      2px 63px #598bff,
      1331px 7px #598bff,
      18px 809px #598bff,
      923px 1965px #598bff,
      428px 1556px #598bff,
      716px 619px #598bff,
      1671px 1082px #598bff,
      1702px 927px #598bff,
      864px 187px #598bff,
      1439px 1053px #598bff,
      43px 448px #598bff,
      1003px 1963px #598bff,
      1522px 1678px #598bff,
      161px 20px #598bff,
      1483px 797px #598bff,
      1928px 1026px #598bff,
      1021px 739px #598bff,
      1715px 1017px #598bff,
      1771px 1349px #598bff,
      1842px 1429px #598bff,
      1336px 1166px #598bff,
      525px 1553px #598bff,
      249px 188px #598bff,
      1557px 295px #598bff,
      458px 533px #598bff,
      767px 1208px #598bff,
      167px 253px #598bff,
      823px 191px #598bff,
      130px 257px #598bff,
      159px 632px #598bff,
      974px 1144px #598bff,
      1403px 1277px #598bff,
      504px 390px #598bff,
      99px 1155px #598bff,
      644px 799px #598bff,
      624px 798px #598bff,
      1111px 1603px #598bff,
      1882px 1044px #598bff,
      228px 99px #598bff,
      457px 1854px #598bff,
      1745px 58px #598bff,
      771px 1593px #598bff,
      371px 1663px #598bff,
      709px 692px #598bff,
      1891px 1789px #598bff,
      639px 1731px #598bff,
      1891px 1114px #598bff,
      1257px 1379px #598bff,
      573px 846px #598bff,
      171px 959px #598bff,
      89px 1981px #598bff,
      1509px 1089px #598bff,
      912px 88px #598bff,
      222px 380px #598bff,
      1613px 548px #598bff,
      1373px 1645px #598bff,
      181px 364px #598bff,
      1512px 1665px #598bff,
      1744px 73px #598bff,
      1131px 1560px #598bff,
      1717px 256px #598bff,
      528px 1251px #598bff,
      1084px 1361px #598bff,
      206px 1385px #598bff,
      1242px 1766px #598bff,
      1027px 50px #598bff,
      366px 589px #598bff,
      411px 1268px #598bff,
      112px 367px #598bff,
      1441px 1138px #598bff,
      1878px 1134px #598bff,
      554px 213px #598bff,
      1561px 973px #598bff,
      1428px 74px #598bff,
      267px 1458px #598bff,
      646px 1002px #598bff,
      457px 56px #598bff,
      311px 488px #598bff,
      973px 1473px #598bff,
      433px 221px #598bff,
      750px 1336px #598bff,
      185px 910px #598bff,
      1528px 974px #598bff,
      194px 1439px #598bff,
      1377px 841px #598bff,
      894px 1574px #598bff,
      1626px 1945px #598bff,
      242px 730px #598bff,
      1990px 1867px #598bff,
      1830px 672px #598bff,
      1146px 902px #598bff,
      1308px 96px #598bff,
      36px 1546px #598bff,
      911px 1296px #598bff,
      189px 740px #598bff,
      668px 1348px #598bff,
      1621px 154px #598bff,
      1734px 1332px #598bff,
      372px 686px #598bff,
      576px 1630px #598bff,
      742px 504px #598bff,
      1512px 1851px #598bff,
      220px 452px #598bff,
      1242px 1198px #598bff,
      706px 602px #598bff,
      811px 1330px #598bff,
      1322px 1421px #598bff,
      1873px 884px #598bff,
      999px 728px #598bff,
      791px 389px #598bff,
      694px 1071px #598bff,
      754px 1674px #598bff,
      667px 1969px #598bff,
      434px 914px #598bff,
      907px 568px #598bff,
      1463px 1736px #598bff,
      1576px 587px #598bff,
      1028px 1775px #598bff,
      1356px 749px #598bff,
      1290px 1766px #598bff,
      1837px 1708px #598bff,
      1419px 908px #598bff,
      737px 62px #598bff,
      1597px 977px #598bff,
      697px 262px #598bff,
      1859px 253px #598bff,
      877px 88px #598bff,
      342px 670px #598bff,
      594px 974px #598bff,
      730px 571px #598bff,
      1133px 40px #598bff,
      222px 1287px #598bff,
      1737px 1526px #598bff,
      82px 1044px #598bff,
      1097px 1662px #598bff,
      923px 765px #598bff,
      223px 1402px #598bff,
      1464px 309px #598bff,
      671px 694px #598bff,
      1400px 1768px #598bff,
      34px 818px #598bff,
      10px 1566px #598bff,
      344px 104px #598bff,
      1198px 173px #598bff,
      1857px 1178px #598bff,
      905px 882px #598bff,
      208px 551px #598bff,
      44px 204px #598bff,
      483px 702px #598bff,
      1573px 349px #598bff,
      1116px 1123px #598bff,
      332px 1718px #598bff,
      939px 558px #598bff,
      1003px 832px #598bff,
      102px 952px #598bff,
      1930px 523px #598bff,
      178px 339px #598bff,
      1256px 323px #598bff,
      203px 1599px #598bff,
      396px 1404px #598bff,
      826px 1384px #598bff,
      1842px 139px #598bff,
      998px 1288px #598bff,
      62px 1078px #598bff,
      1437px 718px #598bff,
      1429px 1076px #598bff,
      1660px 1414px #598bff,
      61px 349px #598bff,
      888px 1404px #598bff,
      473px 630px #598bff,
      1561px 1977px #598bff,
      1479px 1954px #598bff,
      1969px 675px #598bff,
      4px 1497px #598bff,
      1431px 1286px #598bff,
      696px 811px #598bff,
      323px 1775px #598bff,
      1162px 813px #598bff,
      1420px 4px #598bff,
      290px 600px #598bff,
      146px 493px #598bff,
      1268px 53px #598bff,
      1258px 215px #598bff,
      511px 1468px #598bff,
      1492px 1693px #598bff,
      654px 638px #598bff,
      378px 1574px #598bff,
      94px 1711px #598bff,
      1528px 1994px #598bff,
      1304px 669px #598bff,
      50px 1118px #598bff,
      569px 247px #598bff,
      210px 85px #598bff,
      1925px 1644px #598bff,
      1680px 497px #598bff,
      128px 1077px #598bff,
      1929px 310px #598bff,
      614px 1576px #598bff,
      1780px 755px #598bff,
      914px 1480px #598bff,
      1034px 276px #598bff,
      766px 259px #598bff,
      692px 22px #598bff,
      591px 997px #598bff,
      1426px 1482px #598bff,
      1310px 1427px #598bff,
      1474px 184px #598bff,
      88px 306px #598bff,
      1631px 251px #598bff,
      692px 631px #598bff,
      798px 1973px #598bff,
      1967px 404px #598bff,
      627px 6px #598bff,
      1432px 580px #598bff,
      662px 291px #598bff,
      808px 242px #598bff,
      1456px 1557px #598bff,
      1573px 1264px #598bff,
      334px 832px #598bff,
      1342px 1403px #598bff,
      591px 303px #598bff,
      36px 1612px #598bff,
      1688px 324px #598bff,
      1223px 453px #598bff,
      598px 1504px #598bff,
      1784px 277px #598bff,
      1610px 1436px #598bff,
      1332px 1951px #598bff,
      1236px 1194px #598bff,
      1579px 969px #598bff,
      68px 181px #598bff,
      605px 1480px #598bff,
      175px 1844px #598bff,
      1937px 174px #598bff,
      1558px 195px #598bff,
      411px 580px #598bff,
      232px 1310px #598bff,
      732px 1182px #598bff,
      787px 457px #598bff,
      852px 437px #598bff,
      476px 1628px #598bff,
      1748px 583px #598bff,
      34px 1102px #598bff,
      741px 125px #598bff,
      359px 381px #598bff,
      940px 139px #598bff,
      28px 759px #598bff,
      1962px 348px #598bff,
      1907px 798px #598bff,
      958px 340px #598bff,
      819px 1808px #598bff,
      1965px 1107px #598bff,
      1844px 677px #598bff,
      1765px 498px #598bff,
      1612px 1725px #598bff,
      1343px 47px #598bff,
      1702px 1011px #598bff,
      30px 702px #598bff,
      733px 1232px #598bff,
      1226px 684px #598bff,
      918px 1337px #598bff,
      1258px 133px #598bff,
      939px 1099px #598bff,
      175px 407px #598bff,
      1227px 603px #598bff,
      590px 1561px #598bff,
      1014px 1860px #598bff,
      198px 1731px #598bff,
      827px 1307px #598bff,
      334px 1570px #598bff,
      825px 1335px #598bff,
      312px 313px #598bff,
      1868px 1758px #598bff,
      158px 323px #598bff,
      247px 1714px #598bff,
      509px 356px #598bff,
      1408px 1628px #598bff,
      598px 886px #598bff,
      911px 838px #598bff,
      1578px 345px #598bff,
      677px 871px #598bff,
      1910px 687px #598bff,
      599px 1782px #598bff,
      776px 1800px #598bff,
      456px 1909px #598bff,
      1803px 1969px #598bff,
      1785px 1307px #598bff,
      1384px 1987px #598bff,
      736px 164px #598bff,
      1046px 1392px #598bff,
      1296px 953px #598bff,
      1236px 394px #598bff,
      1656px 1298px #598bff,
      404px 783px #598bff,
      1313px 372px #598bff,
      1753px 1410px #598bff,
      1683px 1663px #598bff,
      82px 754px #598bff,
      1645px 1997px #598bff,
      932px 1889px #598bff,
      1045px 77px #598bff,
      932px 1981px #598bff,
      782px 1335px #598bff,
      21px 372px #598bff,
      1507px 472px #598bff,
      963px 1676px #598bff,
      972px 1177px #598bff,
      1067px 147px #598bff,
      734px 1922px #598bff,
      1199px 675px #598bff,
      1689px 598px #598bff,
      658px 1932px #598bff,
      1458px 803px #598bff,
      1512px 335px #598bff,
      369px 1653px #598bff,
      731px 1253px #598bff,
      1272px 75px #598bff,
      1636px 1425px #598bff,
      677px 1395px #598bff,
      693px 238px #598bff,
      1845px 1121px #598bff,
      1153px 110px #598bff,
      169px 352px #598bff,
      774px 1074px #598bff,
      893px 494px #598bff,
      56px 727px #598bff,
      1433px 28px #598bff,
      185px 1721px #598bff,
      437px 727px #598bff,
      914px 1523px #598bff,
      1646px 287px #598bff,
      1855px 1832px #598bff,
      141px 197px #598bff,
      657px 1926px #598bff,
      713px 162px #598bff,
      975px 914px #598bff,
      1589px 531px #598bff,
      1981px 1220px #598bff,
      521px 767px #598bff,
      675px 473px #598bff,
      1658px 1212px #598bff,
      1213px 1517px #598bff,
      1616px 1655px #598bff,
      1171px 630px #598bff,
      660px 1936px #598bff,
      902px 659px #598bff,
      588px 1421px #598bff,
      1991px 182px #598bff,
      1270px 929px #598bff,
      1608px 679px #598bff,
      988px 791px #598bff,
      662px 1416px #598bff,
      1114px 473px #598bff,
      1031px 1650px #598bff,
      1952px 946px #598bff,
      1219px 1155px #598bff,
      156px 1222px #598bff,
      1568px 82px #598bff,
      1718px 95px #598bff,
      771px 614px #598bff,
      982px 1149px #598bff,
      1096px 384px #598bff,
      819px 253px #598bff,
      235px 1581px #598bff,
      1967px 785px #598bff,
      1074px 840px #598bff,
      1126px 1822px #598bff,
      238px 988px #598bff,
      1215px 1090px #598bff,
      91px 256px #598bff,
      1750px 1159px #598bff,
      939px 606px #598bff,
      827px 293px #598bff,
      651px 833px #598bff,
      491px 928px #598bff,
      553px 1904px #598bff,
      1299px 1899px #598bff,
      1202px 153px #598bff,
      77px 155px #598bff,
      1602px 1622px #598bff,
      1846px 1317px #598bff,
      1489px 25px #598bff,
      1069px 1874px #598bff,
      1991px 337px #598bff,
      206px 1783px #598bff,
      21px 973px #598bff,
      633px 1517px #598bff,
      1428px 1620px #598bff,
      1601px 1484px #598bff,
      1411px 1890px #598bff,
      1097px 355px #598bff,
      1075px 963px #598bff,
      839px 1822px #598bff,
      1279px 1849px #598bff,
      1151px 454px #598bff,
      886px 362px #598bff,
      866px 1764px #598bff,
      65px 1126px #598bff,
      1322px 580px #598bff,
      144px 554px #598bff,
      164px 369px #598bff,
      1251px 1284px #598bff,
      1433px 1066px #598bff,
      703px 777px #598bff,
      843px 1905px #598bff,
      954px 805px #598bff,
      741px 345px #598bff,
      944px 410px #598bff,
      1118px 1800px #598bff,
      1896px 396px #598bff,
      1316px 1288px #598bff,
      859px 746px #598bff,
      1106px 491px #598bff,
      308px 915px #598bff,
      1117px 514px #598bff,
      1710px 1925px #598bff,
      101px 748px #598bff,
      1930px 1260px #598bff,
      171px 1882px #598bff,
      1815px 1795px #598bff,
      1220px 220px #598bff,
      86px 355px #598bff,
      934px 892px #598bff,
      295px 735px #598bff,
      617px 1659px #598bff,
      957px 1917px #598bff,
      322px 1045px #598bff,
      1927px 278px #598bff,
      1138px 427px #598bff,
      128px 1916px #598bff,
      1893px 1047px #598bff,
      1046px 424px #598bff,
      1163px 1081px #598bff,
      161px 437px #598bff,
      751px 357px #598bff,
      350px 609px #598bff,
      1835px 294px #598bff,
      1786px 1617px #598bff,
      1716px 383px #598bff,
      426px 1941px #598bff,
      1965px 1692px #598bff,
      392px 1215px #598bff,
      1794px 1747px #598bff,
      394px 773px #598bff,
      1444px 62px #598bff,
      929px 931px #598bff,
      87px 228px #598bff,
      1497px 1629px #598bff,
      1407px 919px #598bff,
      1002px 1936px #598bff,
      1088px 750px #598bff,
      591px 134px #598bff,
      1049px 257px #598bff,
      945px 1554px #598bff,
      595px 898px #598bff,
      838px 1781px #598bff,
      1448px 680px #598bff,
      1880px 662px #598bff,
      132px 1550px #598bff,
      653px 1398px #598bff,
      1160px 125px #598bff,
      1608px 1796px #598bff,
      1344px 1027px #598bff,
      1457px 1350px #598bff,
      1544px 610px #598bff,
      1031px 636px #598bff,
      154px 1133px #598bff,
      1138px 404px #598bff,
      566px 1364px #598bff,
      1353px 1179px #598bff,
      1951px 985px #598bff,
      412px 1772px #598bff,
      803px 1626px #598bff,
      1618px 1929px #598bff,
      975px 1293px #598bff,
      1801px 933px #598bff,
      1921px 775px #598bff,
      557px 1310px #598bff,
      982px 259px #598bff,
      1828px 577px #598bff,
      1146px 805px #598bff,
      491px 1320px #598bff,
      413px 1009px #598bff,
      111px 1194px #598bff,
      608px 712px #598bff,
      942px 1717px #598bff,
      1797px 1481px #598bff,
      1290px 48px #598bff,
      1124px 1260px #598bff,
      49px 258px #598bff,
      1302px 365px #598bff,
      576px 372px #598bff,
      56px 1525px #598bff,
      526px 1746px #598bff,
      461px 639px #598bff,
      1393px 190px #598bff,
      1136px 1015px #598bff,
      512px 295px #598bff,
      267px 9px #598bff,
      63px 1167px #598bff,
      1660px 346px #598bff,
      1653px 13px #598bff,
      738px 812px #598bff,
      278px 1242px #598bff,
      989px 93px #598bff,
      1664px 1607px #598bff,
      753px 1044px #598bff,
      1524px 1288px #598bff,
      1950px 693px #598bff,
      1254px 348px #598bff,
      1399px 1884px #598bff,
      672px 287px #598bff,
      402px 1959px #598bff,
      642px 1114px #598bff,
      1007px 214px #598bff,
      1284px 70px #598bff,
      616px 1944px #598bff,
      165px 778px #598bff,
      1316px 348px #598bff,
      1747px 1786px #598bff,
      1813px 1958px #598bff,
      1059px 1513px #598bff,
      1807px 892px #598bff,
      1783px 974px #598bff,
      1075px 1132px #598bff,
      1385px 725px #598bff,
      1869px 113px #598bff,
      118px 483px #598bff,
      1445px 1069px #598bff,
      714px 1187px #598bff,
      1719px 193px #598bff,
      1895px 1422px #598bff,
      1726px 281px #598bff,
      1599px 920px #598bff,
      1581px 637px #598bff,
      1328px 1594px #598bff,
      1561px 1589px #598bff,
      477px 270px #598bff,
      227px 752px #598bff,
      1307px 1817px #598bff,
      1126px 486px #598bff,
      631px 617px #598bff,
      497px 1282px #598bff,
      1750px 1684px #598bff,
      1418px 543px #598bff,
      1821px 1858px #598bff,
      454px 890px #598bff,
      1849px 1152px #598bff,
      1801px 1920px #598bff,
      1830px 37px #598bff,
      1773px 593px #598bff,
      304px 1933px #598bff,
      1003px 845px #598bff,
      1596px 112px #598bff,
      1164px 1694px #598bff,
      1645px 905px #598bff,
      534px 775px #598bff,
      41px 791px #598bff,
      991px 524px #598bff,
      274px 1986px #598bff,
      500px 604px #598bff,
      496px 1505px #598bff,
      134px 1168px #598bff,
      1627px 438px #598bff,
      438px 1705px #598bff,
      698px 561px #598bff,
      594px 466px #598bff,
      1699px 1836px #598bff,
      1px 1084px #598bff,
      942px 1054px #598bff,
      1638px 1560px #598bff,
      860px 805px #598bff,
      282px 1699px #598bff,
      1143px 202px #598bff,
      849px 1061px #598bff,
      1362px 1084px #598bff,
      977px 1777px #598bff,
      1021px 626px #598bff,
      208px 1778px #598bff,
      310px 1070px #598bff,
      1759px 1341px #598bff,
      690px 1454px #598bff,
      1407px 1212px #598bff,
      1661px 1154px #598bff,
      980px 235px #598bff,
      181px 1193px #598bff,
      252px 1605px #598bff,
      1231px 1018px #598bff,
      526px 404px #598bff,
      804px 1159px #598bff,
      395px 1205px #598bff,
      1615px 821px #598bff,
      165px 836px #598bff,
      145px 634px #598bff,
      525px 1254px #598bff,
      1782px 1747px #598bff,
      1712px 1752px #598bff,
      1601px 1895px #598bff,
      891px 1380px #598bff,
      973px 1103px #598bff,
      1657px 105px #598bff,
      490px 780px #598bff,
      1611px 222px #598bff,
      1357px 215px #598bff,
      1766px 889px #598bff,
      1501px 1907px #598bff,
      1949px 776px #598bff,
      119px 1623px #598bff,
      1682px 242px #598bff,
      1953px 37px #598bff,
      1994px 1407px #598bff,
      413px 463px #598bff,
      1179px 887px #598bff,
      719px 659px #598bff,
      1459px 1137px #598bff,
      1036px 1492px #598bff,
      1755px 1258px #598bff,
      1686px 660px #598bff,
      1291px 1544px #598bff,
      724px 1827px #598bff,
      252px 1565px #598bff,
      1037px 1161px #598bff,
      1923px 865px #598bff,
      1297px 1645px #598bff,
      259px 258px #598bff,
      296px 1888px #598bff,
      978px 1366px #598bff,
      1598px 1223px #598bff,
      1232px 193px #598bff,
      1497px 984px #598bff,
      1081px 1866px #598bff,
      28px 685px #598bff,
      319px 684px #598bff,
      33px 106px #598bff,
      857px 286px #598bff,
      902px 8px #598bff,
      265px 533px #598bff,
      1596px 1492px #598bff,
      1881px 438px #598bff,
      895px 1514px #598bff,
      129px 43px #598bff,
      117px 1086px #598bff,
      658px 392px #598bff,
      1196px 617px #598bff,
      745px 1688px #598bff,
      1965px 1035px #598bff,
      1305px 592px #598bff,
      923px 1888px #598bff,
      386px 378px #598bff,
      1579px 170px #598bff,
      510px 1043px #598bff,
      300px 1652px #598bff,
      1941px 1843px #598bff,
      1223px 826px #598bff,
      524px 196px #598bff,
      441px 845px #598bff,
      1402px 1276px #598bff,
      1493px 874px #598bff,
      794px 1993px #598bff,
      1446px 1306px #598bff,
      50px 106px #598bff,
      1431px 1459px #598bff,
      916px 1202px #598bff,
      1472px 1263px #598bff,
      885px 1098px #598bff,
      1789px 56px #598bff,
      1373px 1339px #598bff,
      161px 433px #598bff,
      623px 1388px #598bff,
      1916px 360px #598bff,
      825px 490px #598bff,
      1185px 1804px #598bff,
      895px 897px #598bff,
      1702px 1913px #598bff,
      896px 1770px #598bff,
      780px 1195px #598bff,
      1003px 534px #598bff,
      223px 1939px #598bff,
      1274px 1317px #598bff,
      878px 1627px #598bff,
      1782px 864px #598bff,
      1659px 927px #598bff,
      811px 1400px #598bff,
      388px 914px #598bff,
      897px 1689px #598bff,
      241px 1802px #598bff,
      94px 1142px #598bff,
      682px 1361px #598bff,
      922px 1405px #598bff,
      1412px 1926px #598bff,
      678px 1499px #598bff,
      1994px 1901px #598bff,
      1449px 519px #598bff,
      5px 548px #598bff;
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      829px 120px #598bff,
      752px 1553px #598bff,
      204px 1984px #598bff,
      97px 828px #598bff,
      1192px 1106px #598bff,
      222px 326px #598bff,
      442px 1072px #598bff,
      143px 1246px #598bff,
      514px 847px #598bff,
      1821px 1327px #598bff,
      1606px 1746px #598bff,
      529px 226px #598bff,
      282px 97px #598bff,
      1840px 1559px #598bff,
      1059px 1606px #598bff,
      493px 1463px #598bff,
      49px 459px #598bff,
      298px 954px #598bff,
      1234px 412px #598bff,
      1018px 459px #598bff,
      381px 815px #598bff,
      264px 633px #598bff,
      821px 945px #598bff,
      1530px 1468px #598bff,
      792px 14px #598bff,
      973px 1892px #598bff,
      449px 1669px #598bff,
      1765px 97px #598bff,
      1377px 257px #598bff,
      1190px 197px #598bff,
      1469px 459px #598bff,
      104px 605px #598bff,
      898px 1464px #598bff,
      88px 1685px #598bff,
      1804px 573px #598bff,
      221px 1205px #598bff,
      1474px 777px #598bff,
      867px 789px #598bff,
      1842px 1427px #598bff,
      1661px 408px #598bff,
      898px 774px #598bff,
      1771px 197px #598bff,
      1625px 883px #598bff,
      1184px 1747px #598bff,
      148px 1465px #598bff,
      1507px 1623px #598bff,
      249px 1369px #598bff,
      1816px 77px #598bff,
      1414px 761px #598bff,
      1074px 1584px #598bff,
      1885px 1794px #598bff,
      840px 903px #598bff,
      585px 1210px #598bff,
      103px 429px #598bff,
      74px 1673px #598bff,
      1225px 1717px #598bff,
      1764px 1601px #598bff,
      864px 1515px #598bff,
      946px 865px #598bff,
      1719px 1648px #598bff,
      896px 559px #598bff,
      608px 1774px #598bff,
      1631px 1896px #598bff,
      991px 1821px #598bff,
      766px 488px #598bff,
      737px 96px #598bff,
      117px 1095px #598bff,
      576px 249px #598bff,
      437px 728px #598bff,
      9px 1858px #598bff,
      1700px 1573px #598bff,
      584px 1745px #598bff,
      297px 425px #598bff,
      1733px 674px #598bff,
      963px 46px #598bff,
      1710px 1232px #598bff,
      414px 43px #598bff,
      477px 448px #598bff,
      342px 564px #598bff,
      164px 1345px #598bff,
      1885px 211px #598bff,
      1064px 638px #598bff,
      776px 64px #598bff,
      640px 618px #598bff,
      940px 1446px #598bff,
      327px 255px #598bff,
      1508px 1898px #598bff,
      160px 1352px #598bff,
      1173px 1401px #598bff,
      1148px 1444px #598bff,
      1463px 1354px #598bff,
      843px 1024px #598bff,
      689px 931px #598bff,
      1065px 276px #598bff,
      849px 1283px #598bff,
      201px 89px #598bff,
      671px 409px #598bff,
      1479px 917px #598bff,
      1561px 213px #598bff,
      1331px 1767px #598bff,
      1318px 1801px #598bff,
      403px 1712px #598bff,
      1759px 1502px #598bff,
      925px 948px #598bff,
      327px 785px #598bff,
      91px 177px #598bff,
      842px 92px #598bff,
      251px 1865px #598bff,
      1392px 1454px #598bff,
      1163px 1170px #598bff,
      1781px 916px #598bff,
      1571px 301px #598bff,
      115px 1129px #598bff,
      1251px 309px #598bff,
      37px 344px #598bff,
      1786px 1354px #598bff,
      1792px 250px #598bff,
      1273px 1343px #598bff,
      1760px 1618px #598bff,
      1102px 274px #598bff,
      1711px 1928px #598bff,
      521px 1656px #598bff,
      339px 1621px #598bff,
      1006px 652px #598bff,
      698px 919px #598bff,
      1798px 924px #598bff,
      886px 105px #598bff,
      1363px 1519px #598bff,
      1708px 761px #598bff,
      1606px 18px #598bff,
      249px 874px #598bff,
      349px 49px #598bff,
      1068px 1820px #598bff,
      857px 30px #598bff,
      300px 680px #598bff,
      1511px 907px #598bff,
      328px 1957px #598bff,
      651px 1153px #598bff,
      409px 195px #598bff,
      544px 94px #598bff,
      167px 754px #598bff,
      1433px 237px #598bff,
      874px 359px #598bff,
      908px 1560px #598bff,
      921px 181px #598bff,
      1810px 821px #598bff,
      1452px 1048px #598bff,
      1307px 524px #598bff,
      1058px 1197px #598bff,
      1804px 1325px #598bff,
      1157px 1634px #598bff,
      1542px 1715px #598bff,
      422px 752px #598bff,
      1145px 415px #598bff,
      204px 709px #598bff,
      649px 1262px #598bff,
      1382px 1607px #598bff,
      81px 1788px #598bff,
      1012px 207px #598bff,
      1890px 1203px #598bff,
      1683px 325px #598bff,
      311px 1271px #598bff,
      1952px 431px #598bff,
      1242px 793px #598bff,
      527px 1700px #598bff,
      1505px 1897px #598bff,
      1138px 822px #598bff,
      1112px 1534px #598bff,
      465px 244px #598bff,
      423px 1456px #598bff,
      213px 1282px #598bff,
      491px 1480px #598bff,
      433px 1323px #598bff,
      1602px 1076px #598bff,
      685px 1459px #598bff,
      483px 1682px #598bff,
      1012px 190px #598bff,
      915px 1447px #598bff,
      1741px 1815px #598bff,
      1951px 811px #598bff,
      412px 1833px #598bff,
      434px 460px #598bff,
      808px 420px #598bff,
      1150px 1054px #598bff,
      848px 353px #598bff,
      663px 195px #598bff,
      1088px 520px #598bff,
      706px 1201px #598bff,
      1709px 436px #598bff,
      1340px 1848px #598bff,
      793px 1785px #598bff,
      1013px 1912px #598bff,
      1736px 877px #598bff,
      7px 864px #598bff,
      114px 120px #598bff,
      1986px 1702px #598bff,
      1638px 1730px #598bff,
      143px 140px #598bff,
      486px 717px #598bff,
      1541px 1052px #598bff;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      829px 120px #598bff,
      752px 1553px #598bff,
      204px 1984px #598bff,
      97px 828px #598bff,
      1192px 1106px #598bff,
      222px 326px #598bff,
      442px 1072px #598bff,
      143px 1246px #598bff,
      514px 847px #598bff,
      1821px 1327px #598bff,
      1606px 1746px #598bff,
      529px 226px #598bff,
      282px 97px #598bff,
      1840px 1559px #598bff,
      1059px 1606px #598bff,
      493px 1463px #598bff,
      49px 459px #598bff,
      298px 954px #598bff,
      1234px 412px #598bff,
      1018px 459px #598bff,
      381px 815px #598bff,
      264px 633px #598bff,
      821px 945px #598bff,
      1530px 1468px #598bff,
      792px 14px #598bff,
      973px 1892px #598bff,
      449px 1669px #598bff,
      1765px 97px #598bff,
      1377px 257px #598bff,
      1190px 197px #598bff,
      1469px 459px #598bff,
      104px 605px #598bff,
      898px 1464px #598bff,
      88px 1685px #598bff,
      1804px 573px #598bff,
      221px 1205px #598bff,
      1474px 777px #598bff,
      867px 789px #598bff,
      1842px 1427px #598bff,
      1661px 408px #598bff,
      898px 774px #598bff,
      1771px 197px #598bff,
      1625px 883px #598bff,
      1184px 1747px #598bff,
      148px 1465px #598bff,
      1507px 1623px #598bff,
      249px 1369px #598bff,
      1816px 77px #598bff,
      1414px 761px #598bff,
      1074px 1584px #598bff,
      1885px 1794px #598bff,
      840px 903px #598bff,
      585px 1210px #598bff,
      103px 429px #598bff,
      74px 1673px #598bff,
      1225px 1717px #598bff,
      1764px 1601px #598bff,
      864px 1515px #598bff,
      946px 865px #598bff,
      1719px 1648px #598bff,
      896px 559px #598bff,
      608px 1774px #598bff,
      1631px 1896px #598bff,
      991px 1821px #598bff,
      766px 488px #598bff,
      737px 96px #598bff,
      117px 1095px #598bff,
      576px 249px #598bff,
      437px 728px #598bff,
      9px 1858px #598bff,
      1700px 1573px #598bff,
      584px 1745px #598bff,
      297px 425px #598bff,
      1733px 674px #598bff,
      963px 46px #598bff,
      1710px 1232px #598bff,
      414px 43px #598bff,
      477px 448px #598bff,
      342px 564px #598bff,
      164px 1345px #598bff,
      1885px 211px #598bff,
      1064px 638px #598bff,
      776px 64px #598bff,
      640px 618px #598bff,
      940px 1446px #598bff,
      327px 255px #598bff,
      1508px 1898px #598bff,
      160px 1352px #598bff,
      1173px 1401px #598bff,
      1148px 1444px #598bff,
      1463px 1354px #598bff,
      843px 1024px #598bff,
      689px 931px #598bff,
      1065px 276px #598bff,
      849px 1283px #598bff,
      201px 89px #598bff,
      671px 409px #598bff,
      1479px 917px #598bff,
      1561px 213px #598bff,
      1331px 1767px #598bff,
      1318px 1801px #598bff,
      403px 1712px #598bff,
      1759px 1502px #598bff,
      925px 948px #598bff,
      327px 785px #598bff,
      91px 177px #598bff,
      842px 92px #598bff,
      251px 1865px #598bff,
      1392px 1454px #598bff,
      1163px 1170px #598bff,
      1781px 916px #598bff,
      1571px 301px #598bff,
      115px 1129px #598bff,
      1251px 309px #598bff,
      37px 344px #598bff,
      1786px 1354px #598bff,
      1792px 250px #598bff,
      1273px 1343px #598bff,
      1760px 1618px #598bff,
      1102px 274px #598bff,
      1711px 1928px #598bff,
      521px 1656px #598bff,
      339px 1621px #598bff,
      1006px 652px #598bff,
      698px 919px #598bff,
      1798px 924px #598bff,
      886px 105px #598bff,
      1363px 1519px #598bff,
      1708px 761px #598bff,
      1606px 18px #598bff,
      249px 874px #598bff,
      349px 49px #598bff,
      1068px 1820px #598bff,
      857px 30px #598bff,
      300px 680px #598bff,
      1511px 907px #598bff,
      328px 1957px #598bff,
      651px 1153px #598bff,
      409px 195px #598bff,
      544px 94px #598bff,
      167px 754px #598bff,
      1433px 237px #598bff,
      874px 359px #598bff,
      908px 1560px #598bff,
      921px 181px #598bff,
      1810px 821px #598bff,
      1452px 1048px #598bff,
      1307px 524px #598bff,
      1058px 1197px #598bff,
      1804px 1325px #598bff,
      1157px 1634px #598bff,
      1542px 1715px #598bff,
      422px 752px #598bff,
      1145px 415px #598bff,
      204px 709px #598bff,
      649px 1262px #598bff,
      1382px 1607px #598bff,
      81px 1788px #598bff,
      1012px 207px #598bff,
      1890px 1203px #598bff,
      1683px 325px #598bff,
      311px 1271px #598bff,
      1952px 431px #598bff,
      1242px 793px #598bff,
      527px 1700px #598bff,
      1505px 1897px #598bff,
      1138px 822px #598bff,
      1112px 1534px #598bff,
      465px 244px #598bff,
      423px 1456px #598bff,
      213px 1282px #598bff,
      491px 1480px #598bff,
      433px 1323px #598bff,
      1602px 1076px #598bff,
      685px 1459px #598bff,
      483px 1682px #598bff,
      1012px 190px #598bff,
      915px 1447px #598bff,
      1741px 1815px #598bff,
      1951px 811px #598bff,
      412px 1833px #598bff,
      434px 460px #598bff,
      808px 420px #598bff,
      1150px 1054px #598bff,
      848px 353px #598bff,
      663px 195px #598bff,
      1088px 520px #598bff,
      706px 1201px #598bff,
      1709px 436px #598bff,
      1340px 1848px #598bff,
      793px 1785px #598bff,
      1013px 1912px #598bff,
      1736px 877px #598bff,
      7px 864px #598bff,
      114px 120px #598bff,
      1986px 1702px #598bff,
      1638px 1730px #598bff,
      143px 140px #598bff,
      486px 717px #598bff,
      1541px 1052px #598bff;
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      1784px 747px #598bff,
      489px 271px #598bff,
      240px 233px #598bff,
      1741px 1675px #598bff,
      436px 1654px #598bff,
      1266px 923px #598bff,
      508px 1418px #598bff,
      566px 942px #598bff,
      985px 550px #598bff,
      1847px 467px #598bff,
      11px 461px #598bff,
      851px 1004px #598bff,
      355px 108px #598bff,
      1978px 1177px #598bff,
      1390px 1451px #598bff,
      306px 1230px #598bff,
      1568px 1204px #598bff,
      1568px 1617px #598bff,
      677px 480px #598bff,
      862px 1128px #598bff,
      122px 1830px #598bff,
      499px 1448px #598bff,
      1177px 1579px #598bff,
      586px 1862px #598bff,
      1971px 650px #598bff,
      745px 558px #598bff,
      824px 910px #598bff,
      628px 1416px #598bff,
      1663px 689px #598bff,
      275px 1818px #598bff,
      76px 1693px #598bff,
      1891px 1666px #598bff,
      1358px 416px #598bff,
      1782px 374px #598bff,
      1122px 891px #598bff,
      90px 1494px #598bff,
      1236px 1858px #598bff,
      181px 1008px #598bff,
      1075px 96px #598bff,
      1421px 850px #598bff,
      393px 778px #598bff,
      1805px 1512px #598bff,
      1912px 998px #598bff,
      979px 632px #598bff,
      1229px 517px #598bff,
      1413px 1717px #598bff,
      859px 1531px #598bff,
      297px 1604px #598bff,
      1026px 1391px #598bff,
      305px 375px #598bff,
      129px 27px #598bff,
      360px 1391px #598bff,
      1854px 234px #598bff,
      1105px 541px #598bff,
      1108px 754px #598bff,
      1775px 648px #598bff,
      1180px 1288px #598bff,
      1333px 1016px #598bff,
      17px 520px #598bff,
      1796px 1228px #598bff,
      1622px 633px #598bff,
      1052px 1078px #598bff,
      1171px 1373px #598bff,
      1820px 802px #598bff,
      1862px 1053px #598bff,
      942px 172px #598bff,
      326px 1494px #598bff,
      1914px 141px #598bff,
      1036px 1403px #598bff,
      1429px 384px #598bff,
      1375px 1514px #598bff,
      1708px 914px #598bff,
      1402px 78px #598bff,
      1072px 277px #598bff,
      1731px 734px #598bff,
      486px 690px #598bff,
      469px 1355px #598bff,
      1526px 1973px #598bff,
      662px 205px #598bff,
      810px 1010px #598bff,
      613px 937px #598bff,
      511px 568px #598bff,
      1149px 1386px #598bff,
      27px 1021px #598bff,
      1126px 485px #598bff,
      1701px 550px #598bff,
      986px 335px #598bff,
      583px 1062px #598bff,
      433px 1342px #598bff,
      98px 694px #598bff,
      1248px 1783px #598bff,
      1346px 1515px #598bff,
      534px 436px #598bff,
      1870px 1756px #598bff,
      1380px 518px #598bff,
      1186px 1336px #598bff,
      55px 726px #598bff,
      1877px 1442px #598bff,
      1766px 1586px #598bff,
      57px 1336px #598bff;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      1784px 747px #598bff,
      489px 271px #598bff,
      240px 233px #598bff,
      1741px 1675px #598bff,
      436px 1654px #598bff,
      1266px 923px #598bff,
      508px 1418px #598bff,
      566px 942px #598bff,
      985px 550px #598bff,
      1847px 467px #598bff,
      11px 461px #598bff,
      851px 1004px #598bff,
      355px 108px #598bff,
      1978px 1177px #598bff,
      1390px 1451px #598bff,
      306px 1230px #598bff,
      1568px 1204px #598bff,
      1568px 1617px #598bff,
      677px 480px #598bff,
      862px 1128px #598bff,
      122px 1830px #598bff,
      499px 1448px #598bff,
      1177px 1579px #598bff,
      586px 1862px #598bff,
      1971px 650px #598bff,
      745px 558px #598bff,
      824px 910px #598bff,
      628px 1416px #598bff,
      1663px 689px #598bff,
      275px 1818px #598bff,
      76px 1693px #598bff,
      1891px 1666px #598bff,
      1358px 416px #598bff,
      1782px 374px #598bff,
      1122px 891px #598bff,
      90px 1494px #598bff,
      1236px 1858px #598bff,
      181px 1008px #598bff,
      1075px 96px #598bff,
      1421px 850px #598bff,
      393px 778px #598bff,
      1805px 1512px #598bff,
      1912px 998px #598bff,
      979px 632px #598bff,
      1229px 517px #598bff,
      1413px 1717px #598bff,
      859px 1531px #598bff,
      297px 1604px #598bff,
      1026px 1391px #598bff,
      305px 375px #598bff,
      129px 27px #598bff,
      360px 1391px #598bff,
      1854px 234px #598bff,
      1105px 541px #598bff,
      1108px 754px #598bff,
      1775px 648px #598bff,
      1180px 1288px #598bff,
      1333px 1016px #598bff,
      17px 520px #598bff,
      1796px 1228px #598bff,
      1622px 633px #598bff,
      1052px 1078px #598bff,
      1171px 1373px #598bff,
      1820px 802px #598bff,
      1862px 1053px #598bff,
      942px 172px #598bff,
      326px 1494px #598bff,
      1914px 141px #598bff,
      1036px 1403px #598bff,
      1429px 384px #598bff,
      1375px 1514px #598bff,
      1708px 914px #598bff,
      1402px 78px #598bff,
      1072px 277px #598bff,
      1731px 734px #598bff,
      486px 690px #598bff,
      469px 1355px #598bff,
      1526px 1973px #598bff,
      662px 205px #598bff,
      810px 1010px #598bff,
      613px 937px #598bff,
      511px 568px #598bff,
      1149px 1386px #598bff,
      27px 1021px #598bff,
      1126px 485px #598bff,
      1701px 550px #598bff,
      986px 335px #598bff,
      583px 1062px #598bff,
      433px 1342px #598bff,
      98px 694px #598bff,
      1248px 1783px #598bff,
      1346px 1515px #598bff,
      534px 436px #598bff,
      1870px 1756px #598bff,
      1380px 518px #598bff,
      1186px 1336px #598bff,
      55px 726px #598bff,
      1877px 1442px #598bff,
      1766px 1586px #598bff,
      57px 1336px #598bff;
  }

  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #598bff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes animStar {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }
</style>
