---
import Github from "@lucide/astro/icons/github";
import Linkedin from "@lucide/astro/icons/linkedin";
---

<div class="mb-4">
  <h1 class="font-montserrat w-fit text-3xl text-gray-800">Antoine Calma</h1>
  <p class="mb-1 w-fit font-light text-gray-700">contact@antoinecalma.fr</p>
  <div class="flex w-fit gap-1.5 border-t border-b p-1">
    <a
      class="font-light text-gray-600 hover:text-gray-900"
      href="https://github.com/Amlac-Eniotna"><Github size={20} /></a
    >
    <a
      class="font-light text-gray-600 hover:text-gray-900"
      href="https://www.linkedin.com/in/antoine-calma/"
      ><Linkedin size={20} /></a
    >
  </div>
</div>

<style>
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
</style>
