---

---

<section
  class="relative flex h-screen w-full snap-start snap-always items-center justify-center"
>
  <p class="m-auto max-w-3xl">
    Développeur React passionné par l’UX design, je cherche une alternance pour
    me spécialiser dans ce domaine. Curieux et créatif, je combine logique et
    esthétique dans mes projets. En dehors du code, je fais de l’escalade, du
    violon et de la guitare.
  </p>
  <div class="absolute -bottom-16 m-auto h-32 w-[1px] bg-black"></div>
</section>
