---
import projects from "../assets/Projects.json";
---

<section
  class="relative flex min-h-dvh w-full snap-start snap-always items-center justify-center px-4 sm:py-0"
>
  <div class="mt-24 mb-24 sm:mb-0">
    <ul
      class="m-auto grid max-w-3xl grid-cols-1 gap-2.5 sm:grid-cols-2 md:grid-cols-3"
    >
      {
        projects.reverse().map((project) => {
          return (
            <li class="card blur-scroll noise-effect relative flex size-full overflow-hidden rounded-xl border">
              <div class="absolute -z-10 size-full bg-white" />
              <a
                href={project.url}
                target="_blank"
                class="relative size-full px-5 py-2.5"
              >
                <div class="relative -z-2">
                  <h3 class="font-bold">{project.title}</h3>
                  <p class="mb-1 text-xs">{project.date}</p>
                  <ul class="list-inside list-disc text-xs">
                    {project.technologie.map((technologie) => (
                      <li>{technologie}</li>
                    ))}
                  </ul>
                </div>
              </a>
              <div class="card-invert absolute top-0 left-0 -z-1 size-full backdrop-invert" />
            </li>
          );
        })
      }
    </ul>
  </div>
  <div
    class="absolute -bottom-8 m-auto h-16 w-[1px] bg-black sm:-bottom-16 sm:h-32"
  >
  </div>
</section>

<style>
  .card-invert {
    max-width: 0;
    transition: max-width 500ms;
  }
  .card:hover .card-invert {
    max-width: 100%;
  }

  .blur-scroll {
    animation: blur linear both;
    animation-timeline: view(block);
    animation-range: entry 0% contain 20%;
  }

  @keyframes blur {
    from {
      filter: blur(12px);
    }
    to {
      scale: blur(0px);
    }
  }
</style>
